<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
</head>
<body>

<h1>Lista de Productos</h1>

<div id="productList">
    <table>
        <thead>
            <tr>
            <th>Producto</th>
            <th>Descripción:</th>
            <th>Precio</th>
            <th>Código id</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{producto}}</td>
                <td>{{descripcion}}</td>
                <td>${{valor}}</td>
                <td>{{id}}</td>
            </tr>
            {{/each}} {{!-- Súper importante, no me funcionaba la tabla porq no había cerrado el each --}}
            
        </tbody>
    </table>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script> 
</body>
</html>
