<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/style.css"> {{!-- acá el import del archivo estático de css que está en public y que avisamos al servidor
    que estaba en la carpeta public --}}
</head>
<body>
    {{{body}}}
</body>
</html>

